{{ "<!-- About Us -->" | safeHTML }}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    {{ with .Site.Data.about.title }}
                    <h2 class="title">{{ . }}</h2> {{ end }}
                    <span class="line"></span> {{ with .Site.Data.about.subtitle }}
                    <p>{{ . }}</p>
                    {{ end }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="about-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="our-skill">
                                <h3>Our Skills</h3>
                                <div class="our-skill-content">
                                    {{ with .Site.Data.about.text }}
                                    <p>{{ . }}</p>
                                    {{ end }} {{ range .Site.Data.about.skills }}
                                    <div class="progress">
                                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" data-transitiongoal="{{ .data }}">
                                            <span class="progress-title">{{ .title }}</span>
                                        </div>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="why-choose-us">
                                <h3>Why Choose Us?</h3>
                                <div class="panel-group why-choose-group" id="accordion">
                                    {{ range .Site.Data.about.list }}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#{{ .bookmark }}">
                            {{ .title }} <span class="fa fa-{{if .opened }}minus{{ else }}plus{{ end }}-square"></span>
                          </a>
                        </h4>
                                        </div>
                                        <div id="{{ .bookmark }}" class="panel-collapse collapse{{if .opened }} in{{ end }}">
                                            <div class="panel-body">
                                                {{ if .img }} {{ $url := printf "images/%s" .img }}
                                                <img class="why-choose-img" src="{{ $url | absURL }}" alt="img"> {{ end }}
                                                <p>{{ .description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
