{{ "<!-- Features -->" | safeHTML }}
<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    {{ with .Site.Data.features.title }}
                    <h2 class="title">{{ . }}</h2> {{ end }}
                    <span class="line"></span> {{ with .Site.Data.features.subtitle }}
                    <p>{{ . }}</p>
                    {{ end }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="feature-content">
                    <div class="row">
                        {{ range .Site.Data.features.list }}
                        <div class="col-md-4 col-sm-6">
                            <div class="single-feature wow zoomIn">
                                <i class="fa {{ .icon }} feature-icon"></i>
                                <h4 class="feat-title">{{ .title }}</h4> {{ with .text }}
                                <p>{{ . }}</p>
                                {{ end }}
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
