{{ "<!-- Pricing section -->" | safeHTML }}
<section id="pricing-table">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    {{ with .Site.Data.pricing.title }}
                    <h2 class="title">{{ . }}</h2>{{ end }}
                    <span class="line"></span> {{ with .Site.Data.pricing.subtitle }}
                    <p>{{ . }}</p>{{ end }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="pricing-table-content">
                    <div class="row">
                        {{ range .Site.Data.pricing.list }}
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-table-price {{ if .featured }}featured-price{{ end }} wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                                <div class="price-header">
                                    <span class="price-title">{{ .title }}</span>
                                    <div class="price">
                                        <sup class="price-up">$</sup> {{ .price }}
                                        <span class="price-down">{{ .freq }}</span>
                                    </div>
                                </div>
                                <div class="price-article">
                                    <ul>
                                        {{ range .features }}
                                        <li>{{ . }}</li>
                                        {{ end }}
                                    </ul>
                                </div>
                                <div class="price-footer">
                                    <a class="purchase-btn" href="{{ .url }}">{{ .footer }}</a>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
